{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <div class="d-flex m-0 p-0 navbar-brand">
      <div class="col-4 col-sm-3 px-0">
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
          {% if site_logo %}
              <img class="img-fluid"
                 src="/themes/custom/nble_lib_unb_ca/images/nble-logo.jpg"
                 alt="{{ 'NBLE'|t }}">
          {% else %}
              <span class="text-dark">{{ 'NBLE'|t }}</span>
          {% endif %}
          </a>
      </div>
      <div class="col-8 col-sm-9 px-0">
          {% if site_name %}
              <div class="sr-only">{{ site_name }}</div>
          {% endif %}
          {% if site_slogan %}
              <div class="sr-only">{{ site_slogan }}</div>
          {% endif %}
          <img class="img-fluid" src="/themes/custom/nble_lib_unb_ca/images/header-banner.jpg" alt="">
      </div>
  </div>
{% endblock %}
